#{extends 'main.html' /}
#{set title:'村の情報を更新する' /}

#{set 'navi'}
<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="@{Games.index(village.villageId,null,null)}">もどる</a>
    </li>
</ul>
#{/set}

<form class="form-horizontal form-stacked" action="@{Options.updateVillage}" method="post">
    <fieldset>
        <legend>変更</legend>
        <div class="control-group">
            <label class="control-label" for="name_text">村名</label>
            <div class="controls">
                <input type="text" name="name" class="xlarge" id="name_text" value="${village.name}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="form_text">編成</label>
            <div class="controls">
                <textarea name="form" class="span8" id="form_text">${village.form}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ダミー</label>
            <div class="controls">
                <input type="radio" name="dummy" class="xlarge" value="true"#{if village.dummyMemberId!=null && village.dummyMemberId > 0} checked#{/if}>あり
                <input type="radio" name="dummy" class="xlarge" value="false"#{if village.dummyMemberId==null || village.dummyMemberId <= 0} checked#{/if}>なし
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="day_text">昼の時間</label>
            <div class="controls">
                <input type="text" name="dayTime" class="xlarge" id="day_text" value="${village.dayTime}">分
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="night_text">夜の時間</label>
            <div class="controls">
                <input type="text" name="nightTime" class="xlarge" id="night_text" value="${village.nightTime}">分
            </div>
        </div>
        <input type="hidden" name="villageId" value="${village.villageId}">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">更新する</button>
        </div>
    </fieldset>
</form>