#{extends 'main.html' /}
#{set title : village.villageId + '村 '+village.name+'の詳細' /}

#{set 'navi'}
<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="@{Games.index(village.villageId,null)}">もどる</a>
    </li>
</ul>
#{/set}
<h2>
    <i class="icon-cog" style="margin-top: 6px;"></i>${village.villageId}村 ${village.name}
</h2>
#{if village.state == models.enums.State.Prologue}<p>${village.minMember} ～ ${village.maxMember}人参加可能</p>#{/if}
<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@{Games.detail(village.villageId)}" class="btn active">詳細</a>
    </div>
    <div class="btn-group">
    #{list items:1..village.dayCount, as:'d'}
        <a href="@{Games.index(village.villageId,d,null)}" class="btn">#{if d==1}
            初日#{/if}#{else}${d}日目#{/else}</a>
    #{/list}
    </div>
    <div class="btn-group">
        <a href="@{Games.index(village.villageId,null,null)}#form" class="btn">最新</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>編成</th>
        <td>${village.form.nl2br()}</td>
    </tr>
    <tr>
        <th>ダミー</th>
        <td>#{if village.dummyMemberId!=null && village.dummyMemberId > 0}あり#{/if} #{else}なし#{/else}</td>
    </tr>
    <tr>
        <th>昼の時間</th>
        <td>${village.dayTime}分</td>
    </tr>
    <tr>
        <th>夜の時間</th>
        <td>${village.nightTime}分</td>
    </tr>
</table>