#{extends 'main.html' /}
#{set title}${village.villageId}村 ${village.name}#{/set}
#{set 'moreScripts'}
    #{script src:'village.js'/}
#{/set}
#{set 'navi'}
<table class="table">
    #{if village.state == models.enums.State.Epilogue||village.state == models.enums.State.Closed}
        #{list items:members, as:'member'}
            <tr>
                <td>
                ${member.name}#{if member.user!=null}(${member.user.name})#{/if}<br/>
                    #{if !member.alive}死亡#{/if}#{else}生存#{/else}
                </td>
            </tr>
        #{/list}
    #{/if}
    #{else}
        #{list items:members, as:'member'}
            <tr>
                <td>
                ${member.name}<br/>
                    #{if !member.alive}死亡#{/if}#{else}生存#{/else}
                </td>
            </tr>
        #{/list}
    #{/else}

    <tr>
        <td>
            残り時間 : <span id="time">0</span>
        </td>
    </tr>
</table>

#{/set}
<h2>
    <i class="icon-cog" style="margin-top: 6px;"></i>${village.villageId}村 ${village.name}
</h2>
<p>
    <a href="@{Games.detail(village.villageId)}">詳細</a>
#{list items:1..village.dayCount, as:'d'}
    <a href="@{Games.index(village.villageId,d)}">#{if d==1}初日#{/if}#{else}${d}日目#{/else}</a>&nbsp;
#{/list}
#{if village.state == models.enums.State.Prologue}${village.minMember} ～ ${village.maxMember}人参加可能#{/if}
</p>


<table class="table">
#{list items:logs, as:'log'}
    #{set roar : log.permission == models.enums.Permission.Group && (log.skill == models.enums.Skill.Werewolf || log.skill == models.enums.Skill.Crazy ) /}
    <tr class="${log.logClass}">
        <td>#{if roar && !closet && !finished}遠吠え#{/if}
            #{elseif log.chara != null}
                <img src="/public/images/${log.chara.party.dir}/${log.chara.characterId}.png" height="61" width="48"/><br/>
            ${log.name}
            #{/elseif}
            #{else}
            ${log.name}
            #{/else}</td>
        <td>#{if roar && !closet && !finished}わおーん#{/if}#{else}${log.body.nl2br()}#{/else}</td>
    </tr>
#{/list}
</table>

#{if admin && village.state == models.enums.State.Prologue}
<!-- 管理 -->
<p><a href="@{Options.update(village.villageId)}">村情報の更新</a></p>
<form class="form-horizontal" action="@{Options.startVillage}" method="post">
    <fieldset>
        <div class="form-actions">
            <input name="villageId" type="hidden" value="${village.villageId}"/>
            <button type="submit" class="btn btn-primary">開始</button>
        </div>
    </fieldset>
</form>
#{/if}

<input type="hidden" id="timeLimit" value="${village.commitTime}"/>

#{if now}
<a name="#form"></a>
    #{if me != null}
    <p>あなた:${me.name}#{if village.state != models.enums.State.Prologue}(${me.skill.label},${me.team.label})#{/if}</p>
        #{if village.state == models.enums.State.Epilogue}
        <p>#{if village.winner == me.team}勝利しました#{/if}#{else}敗北しました#{/else}</p>
        #{/if}
    #{/if}

    #{if exist && alive}
    <!-- 能力や投票 -->
        #{if ability && village.state == models.enums.State.Night}
        <form class="form-horizontal" action="@{Games.target}" method="post">
            <fieldset>
                <legend>能力</legend>
                <div class="control-group">
                    <label class="control-label" for="target_select">対象</label>

                    <div class="controls">
                        <select name="firstId" id="target_select">
                            #{list items:members, as:'member'}#{if member.alive && member.memberId != me.memberId}
                                <option value="${member.memberId}">${member.name}</option>#{/if}#{/list}
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <input name="villageId" type="hidden" value="${village.villageId}"/>
                    <button type="submit" class="btn btn-primary">決定</button>
                </div>
            </fieldset>
        </form>
        #{/if}
        #{elseif village.state == models.enums.State.Day}
        <form class="form-horizontal" action="@{Games.vote}" method="post">
            <fieldset>
                <legend>投票</legend>
                <div class="control-group">
                    <label class="control-label" for="target_select">対象</label>

                    <div class="controls">
                        <select name="firstId" id="target_select">
                            #{list items:members, as:'member'}#{if member.alive && member.memberId != me.memberId}
                                <option value="${member.memberId}">${member.name}</option>#{/if}#{/list}
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <input name="villageId" type="hidden" value="${village.villageId}"/>
                    <button type="submit" class="btn btn-primary">決定</button>
                </div>
            </fieldset>
        </form>
        #{/elseif}
    #{/if}

    #{if exist }
    <!-- 発言 -->
        #{if alive || finished }
            #{if village.state != models.enums.State.Night}
            <form class="form-horizontal" action="@{Games.say}" method="post">
                <fieldset>
                    <legend>発言</legend>
                    <div class="control-group">
                        <label class="control-label" for="body_text">本文</label>

                        <div class="controls">
                            <textarea name="text" class="span4" id="body_text"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input name="villageId" type="hidden" value="${village.villageId}"/>
                        <button type="submit" class="btn btn-primary">発言する</button>
                    </div>
                </fieldset>
            </form>
            #{/if}
            #{if closet && village.state == models.enums.State.Night}
            <form class="form-horizontal" action="@{Games.closet}" method="post">
                <fieldset>
                    <legend>秘匿会話</legend>
                    <div class="control-group">
                        <label class="control-label" for="body_c_text">本文</label>
                        <div class="controls">
                            <textarea name="text" class="span4" id="body_c_text"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input name="villageId" type="hidden" value="${village.villageId}"/>
                        <button type="submit" class="btn btn-primary">ささやく</button>
                    </div>
                </fieldset>
            </form>
            #{/if}
        #{/if}
        #{else}
        <form class="form-horizontal" action="@{Games.spirit}" method="post">
            <fieldset>
                <legend>霊界</legend>
                <div class="control-group">
                    <label class="control-label" for="body_g_text">本文</label>

                    <div class="controls">
                        <textarea name="text" class="span4" id="body_g_text"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <input name="villageId" type="hidden" value="${village.villageId}"/>
                    <button type="submit" class="btn btn-primary">うめく</button>
                </div>
            </fieldset>
        </form>
        #{/else}
    <form class="form-horizontal" action="@{Games.wisper}" method="post">
        <fieldset>
            <legend>つぶやき</legend>
            <div class="control-group">
                <label class="control-label" for="body_w_text">本文</label>

                <div class="controls">
                    <textarea name="text" class="span4" id="body_w_text"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input name="villageId" type="hidden" value="${village.villageId}"/>
                <button type="submit" class="btn btn-primary">つぶやく</button>
            </div>
        </fieldset>
    </form>
    #{/if}

    #{if village.state == models.enums.State.Prologue}
    <!-- 入退村 -->
        #{if exist }
        <form class="form-horizontal" action="@{Games.leave}" method="post">
            <fieldset>
                <legend>退村</legend>
                <div class="form-actions">
                    <input name="villageId" type="hidden" value="${village.villageId}"/>
                    <button type="submit" class="btn btn-primary">退村する</button>
                </div>
            </fieldset>
        </form>
        #{/if}
        #{elseif session.user_id != null}
        <form class="form-horizontal" action="@{Games.enter}" method="post">
            <fieldset>
                <legend>入村</legend>
                <div class="control-group">
                    <label class="control-label" for="chara_select">キャラ</label>

                    <div class="controls">
                        <select name="characterId" class="span4" id="chara_select">
                            #{list items:charas , as:'chara'}
                                <option value="${chara.characterId}">${chara.name}</option>#{/list}
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <input name="villageId" type="hidden" value="${village.villageId}"/>
                    <button type="submit" class="btn btn-primary">入村する</button>
                </div>
            </fieldset>
        </form>
        #{/elseif}
    #{/if}
#{/if}